@{
	ViewData["Title"] = "Success Page";

}



<div class="row justify-content-center" style="height: 100vh;">
	<div class="col-md-6 text-center my-auto pb-5">
		<h2>@ViewBag.Name Added Successfully</h2>
		<a class="btn btn-outline-primary mt-5" asp-controller="@ViewBag.Name" asp-action="List">Return to List Page</a>
	</div>
</div>