@model RegisterViewModel

<h2 class="mb-3 ms-5 me-5 mt-5">Register</h2>


<form asp-controller="Account" asp-action="Register">
	<div asp-validation-summary="All" class="text-danger"></div>
	<div class="mb-3 ms-5 me-5">
		<label asp-for="UserName" class="form-label">Username</label>
		<input asp-for="UserName" class="form-control">
	</div>
	<div class="mb-3 ms-5 me-5">
		<label asp-for="Email" class="form-label">Email Address</label>
		<input asp-for="Email" class="form-control">
	</div>
	<div class="mb-3 ms-5 me-5">
		<label asp-for="Password" class="form-label">Password</label>
		<input asp-for="Password" class="form-control">
	</div>
	<div class="mb-3 ms-5 me-5">
		<label asp-for="ConfirmPassword" class="form-label">ConfirmPassword</label>
		<input asp-for="ConfirmPassword" class="form-control">
	</div>
	<button type="submit" class="btn btn-primary ms-5 me-5">Register</button>
	<button class="btn btn-danger" asp-action="Index" asp-controller="Home">Cancel</button>
</form>